# Exploratory Data Analysis

## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from rapidfuzz import fuzz, process
import unidecode
import requests
import json

In [2]:
sys.path.append(os.path.abspath("../src"))
from consultacep import consulta_cep

## Raw Data

In [3]:
df_customers = pd.read_csv("../data/raw/olist_customers_dataset.csv")
df_order_items = pd.read_csv("../data/raw/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("../data/raw/olist_order_payments_dataset.csv")
df_orders = pd.read_csv("../data/raw/olist_orders_dataset.csv")
df_products = pd.read_csv("../data/raw/olist_products_dataset.csv")
df_sellers = pd.read_csv("../data/raw/olist_sellers_dataset.csv")
cdf_cities = pd.read_csv("../data/raw/brazilian_cities.csv")
cdf_ceps = pd.read_csv("../data/raw/CEPs_Brasil.csv")

## Checking the relevant data

### Dataframe: Customers

In [4]:
df_customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
71460,32f7e622cfbdd94691a85692f992a9d5,bf7bf802783e8b525e33fde224781e98,9210,santo andre,SP
55848,b129c5e7449bfea86f4bef20e296c0ce,6234bff8b25bd8336455555eb5f749da,29934,sao mateus,ES
55453,de5127e844f7bc6e9593315e778d7da1,b868689dabda36770f6ef2b8c39bf8a6,2220,sao paulo,SP
68840,f0688a7a0aa2400361ea273a4872db2d,2dbad1ecf3e38836eacff9531adc5b4a,13273,valinhos,SP
14161,be8c14c16a4d47194ccdfe10f1fc5b1a,c86a25b8f5f6c203bb3471553bdc3200,13157,cosmopolis,SP
13328,be24ef8018f62f3b54f287c7e87d0abb,c2e11be7617544391dfa3905b0c637d6,17065,bauru,SP
61078,2a06665a19465bcdd512dcb3444c1de4,0404ab99cfcbae7ad6cdc6e93eac6641,27264,volta redonda,RJ
83526,46a4ac4dcaf4f17c44f5d7c5a5afaf86,ae8ba97274b08fe1156b1d5d3ad32983,13825,holambra,SP
68688,13e56bf1c485ef13438118c361f92527,d6c6b796206305b682a65170c45d26e3,28625,nova friburgo,RJ
8518,46ebdabde58535b8751aaf7e6f21fe27,ff9c030fb4209fbf442ae1368a6b376a,85905,toledo,PR

In [5]:
df_customers.info()
df_customers.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [6]:
df_customers.duplicated().sum()

np.int64(0)

- df_customers doesn't have duplicate entrys, no columns to drop at first and no Nulls

### Dataframe: Order_items

In [7]:
df_order_items.sample(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
79017,b3bab804c76ad164c8aba19684f85e38,1,629e019a6f298a83aeecc7877964f935,c003204e1ab016dfa150abc119207b24,2018-01-05 02:08:47,109.90,14.37
64074,925e0efae10a47529fb9c78338b66d8c,1,d4a3a15f99c94c6741d16d3375b928e6,6560211a19b47992c3666cc44a7e94c0,2017-03-23 14:59:36,49.00,14.11
4173,0964250cecc3ab90b45138c9cbbf7b91,1,a0b7b660f3ff79836867de402e158770,4978a02ea9c8be7a9b5480680f40334e,2018-05-14 23:51:05,119.99,14.93
93513,d3f5cac5ca660216eb21e93d54e9e384,1,803f77475e1b51b47f1bfec4f2ec353f,c9c7905cffc4ef9ff9f113554423e671,2018-07-25 10:32:03,79.99,8.72
1883,044223df7cb37509bfeb2a0df1250ca4,1,b2d98b6f547c14e29a9e72b8e630d936,004c9cd9d87a3c30c522c48c4fc07416,2017-11-08 09:35:30,115.00,21.30
34959,4f22b45861402b6db26c58fd211617cf,1,2dbed858ef1a666ec3afae6566400a06,5b67882648febfb6e1225e6ad7164f6b,2018-03-16 15:15:41,519.99,17.72
46176,68d8838c90191c81a8e3e1273e230414,1,c835fd9d2e466148ac3755300628e33d,a3a38f4affed601eb87a97788c949667,2018-04-25 19:11:00,59.90,23.35
52191,76c5d675f926836b4ff285bff2d38766,1,02a97df83a8a100c7d2b14a02aea6a3d,620c87c171fb2a6dd6e8bb4dec959fc6,2018-07-19 03:04:21,69.90,22.42
33736,4c5e883786df8d555be4dc12f11d3fe7,1,615ee56e97eef79c2b855111d9434dcf,a416b6a846a11724393025641d4edd5e,2018-06-18 04:57:32,112.83,9.14
74316,a95612c7311ad95c69b272aaa4daa6e5,1,9328c3a5c42ae7b32d53e419f9b93d66,cca3071e3e9bb7d12640c9fbe2301306,2017-03-21 04:10:20,50.90,17.20

In [8]:
df_order_items.info()
df_order_items.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [9]:
df_order_items.duplicated().sum()

np.int64(0)

In [10]:
df_order_items.drop(columns=['shipping_limit_date', 'freight_value'], inplace=True)

- df_order_items doesn't have duplicate entrys and Nulls.
- dropping columns: shipping_limit_date, freight_value

### Dataframe: Order_payments

In [11]:
df_order_payments.sample(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
17628,1bf8b5f1e3bc76dcaa6414b170ef3ae0,1,boleto,1,143.27
8183,a3e07c6b717e74f8c384d148d7903e66,1,credit_card,1,81.78
14815,c12a78eb30abe88570f3c2c79bea1334,1,credit_card,1,87.30
67818,502b576f4d6a7091842c83677e13013d,1,credit_card,1,152.62
82939,ee27a6c585edd9ed8b99e272587bf04c,1,credit_card,5,57.38
100868,b0707b7956935b194cfa319dc1501d96,1,credit_card,4,46.22
84839,e39d427402fa3f754c7fd38ceb788901,1,credit_card,6,95.80
40585,f68bf4a4d690be2a9ba9402b0862ad34,1,credit_card,1,166.68
25826,cbf5771b59c1f5688a8f8224f08607eb,1,credit_card,10,239.42
32766,60f6dd1c9030b6132080d65599736d7f,1,credit_card,2,43.87

In [12]:
df_order_payments.info()
df_order_payments.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [13]:
df_order_payments.duplicated().sum()

np.int64(0)

In [14]:
df_order_payments.drop(columns=['payment_sequential','payment_installments','payment_type'], inplace=True)

- df_order_payments doesn't have duplicate entrys and Nulls.
- dropping columns: payment_sequential, payment_type, payment_installments

### Dataframe: Orders

In [15]:
df_orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
3362,03e94224875e6dec154cc7a142ce5de2,bb7651b2df4512e6c29ff35a7b8cd754,delivered,2018-04-23 10:09:03,2018-04-24 18:11:03,2018-04-24 17:42:08,2018-04-25 18:58:59,2018-05-08 00:00:00
71325,06c82be9b8551eb37a9b8e7e05dec631,226a2de9b9feb22a76582963ebcf1e96,delivered,2017-07-11 14:27:14,2017-07-11 14:43:41,2017-07-26 03:19:36,2017-08-01 16:17:38,2017-08-02 00:00:00
45740,970b0850a5b6ccaa34a0e887e8d10a5b,4619dca3ccf1e57f50ba85089e2370f6,delivered,2018-03-17 11:06:27,2018-03-19 20:28:03,2018-03-22 21:32:46,2018-04-02 13:26:28,2018-04-05 00:00:00
89929,fb01e8d8215d266abffb5ca379063244,0d7b6a46b67046fa56193773a361e7ac,delivered,2017-04-03 22:00:05,2017-04-03 22:15:14,2017-04-13 19:07:15,2017-04-19 09:53:18,2017-05-02 00:00:00
16942,cb7c837f8c5240816176dc115c21a746,d60805f01a84d8b2d5acae981e3c770f,delivered,2018-06-21 20:27:51,2018-06-26 04:58:46,2018-06-27 10:28:00,2018-07-04 19:04:37,2018-07-27 00:00:00
2079,ed98c37d860890f940e2acd83629fdd1,71f8cd490677ee95362201588c0eaff4,delivered,2017-12-15 12:57:19,2017-12-15 13:13:05,2017-12-19 22:57:44,2017-12-22 01:28:07,2018-01-05 00:00:00
116,4b3a605942f29d490cb74bd6ace6b9f0,e8a332c3433fbd37920ec89fc295d075,delivered,2017-09-29 09:32:17,2017-09-29 09:44:12,2017-09-29 21:58:48,2017-09-30 16:55:39,2017-10-17 00:00:00
94696,72b9d86fe4e984d9879013b9ecbb25db,8b122c119e36ca9dd381d2bfc02112ea,delivered,2018-04-11 22:29:32,2018-04-13 12:35:27,2018-04-13 21:26:48,2018-04-23 18:41:58,2018-05-23 00:00:00
26173,103e18e9325ee41d8cfa4902f8abc16f,aa28fcb213db1415749a665f82704181,delivered,2018-01-14 14:34:55,2018-01-14 14:48:41,2018-01-17 22:16:57,2018-01-24 21:54:49,2018-02-05 00:00:00
21659,ffc29f864fd689fab9ae81be82baf8ef,77d2c30e1dff5d4440ec316f8a2ef2a2,delivered,2017-07-30 20:33:10,2017-07-31 20:43:11,2017-08-04 17:45:04,2017-08-09 19:56:29,2017-08-24 00:00:00

In [16]:
df_orders.info()
df_orders.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [17]:
df_orders.duplicated().sum()

np.int64(0)

In [18]:
df_orders.drop(columns=['order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'], inplace=True)

In [19]:
df_orders.info()
df_orders.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  99441 non-null  object
 1   customer_id               99441 non-null  object
 2   order_status              99441 non-null  object
 3   order_purchase_timestamp  99441 non-null  object
dtypes: object(4)
memory usage: 3.0+ MB

order_id                    0
customer_id                 0
order_status                0
order_purchase_timestamp    0
dtype: int64

- df_order_payments doesn't have duplicate entrys and Nulls on relevant columns.
- dropping columns: order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date

### Dataframe: Products

In [20]:
df_products.sample(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
16454,19290ebcf78e385cd9fcd48ce5e1393d,ferramentas_jardim,41.0,320.0,1.0,267.0,27.0,13.0,17.0
5647,207bb2d8180c2c7654872f6fab96e40e,telefonia,30.0,305.0,1.0,100.0,19.0,3.0,11.0
7643,88596b69f04745db1f8ba135da5c708d,papelaria,59.0,296.0,1.0,310.0,21.0,7.0,15.0
7636,db1154ea7d1c50d8a5939a9f7fbc3b2a,brinquedos,42.0,283.0,1.0,5200.0,50.0,10.0,50.0
6985,bdd59148fd23281bb706539815e39bf3,perfumaria,57.0,598.0,1.0,450.0,18.0,18.0,18.0
30885,422fe5f2947a7aa4b72de6e4e41f543f,perfumaria,58.0,598.0,2.0,700.0,43.0,16.0,27.0
16093,efeb7b23db334d617250aca97cd3f1e8,cama_mesa_banho,51.0,404.0,1.0,1500.0,30.0,15.0,20.0
15130,988117394d514cb9fb1b367714159a67,ferramentas_jardim,58.0,1378.0,1.0,3500.0,21.0,23.0,11.0
21021,50e1b118f266b655f613f753914c42db,cama_mesa_banho,44.0,630.0,1.0,800.0,16.0,20.0,28.0
695,1ecaa47c3ade7f098ca5dd97e8dcb018,telefonia,54.0,653.0,1.0,150.0,19.0,3.0,11.0

In [21]:
df_products.info()
df_products.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [22]:
df_products.duplicated().sum()

np.int64(0)

In [23]:

df_products.drop(columns= ['product_name_lenght','product_description_lenght',
    'product_photos_qty','product_weight_g','product_length_cm','product_height_cm',
    'product_width_cm'], inplace=True)

In [24]:
df_products['product_category_name'] = df_products['product_category_name'].fillna('sem categoria')

In [25]:
df_products.info()
df_products.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32951 non-null  object
dtypes: object(2)
memory usage: 515.0+ KB

product_id               0
product_category_name    0
dtype: int64

- df_products doesn't have duplicate entrys.
- Null cells in product_category_name filled with placeholder 'sem categoria'
- dropping columns: 'product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm'

### Dataframe: Sellers

In [26]:
df_sellers.sample(10)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
3076,9e6967d3cf386d284251784b18ccb485,9550,sao caetano do sul,SP
2848,3f84fefc07dc159b268d4a77d3e8c425,83833,fazenda rio grande,PR
352,2dd1fb6f0e42a2243b8a01e40cd41216,80240,curitiba,PR
2218,bbaff50f3b708fda865918715276cd87,12940,atibaia,SP
966,fe19dce63ae80346207c6c55713d1023,38010,uberaba,MG
2001,85d9eb9ddc5d00ca9336a2219c97bb13,31255,belo horizonte,MG
694,385799a1cddbd26dfeb9157356a42282,4676,sao paulo,SP
765,ba90964cff9b9e0e6f32b23b82465f7b,7140,guarulhos,SP
1231,4b98b0428fc1932cc2514ef9ce2505e6,6795,taboao da serra,SP
760,bc503e244f187939d10c92a5c8e378ce,16200,birigui,SP

In [27]:
df_sellers.info()
df_sellers.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [28]:
df_sellers.duplicated().sum()

np.int64(0)

- df_sellers doesn't have duplicate entrys, no columns to drop at first and no Nulls

## Data Conversion and normalization

### Dataframe: Products

In [29]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32951 non-null  object
dtypes: object(2)
memory usage: 515.0+ KB

- Normalizing to a readable entries

In [30]:
df_products['product_category_name'] = (
    df_products['product_category_name']
    .str.replace('_', ' ')      
    .str.title()                
    .str.strip()    
)

In [31]:
sorted(df_products['product_category_name'].dropna().unique())

['Agro Industria E Comercio',
 'Alimentos',
 'Alimentos Bebidas',
 'Artes',
 'Artes E Artesanato',
 'Artigos De Festas',
 'Artigos De Natal',
 'Audio',
 'Automotivo',
 'Bebes',
 'Bebidas',
 'Beleza Saude',
 'Brinquedos',
 'Cama Mesa Banho',
 'Casa Conforto',
 'Casa Conforto 2',
 'Casa Construcao',
 'Cds Dvds Musicais',
 'Cine Foto',
 'Climatizacao',
 'Consoles Games',
 'Construcao Ferramentas Construcao',
 'Construcao Ferramentas Ferramentas',
 'Construcao Ferramentas Iluminacao',
 'Construcao Ferramentas Jardim',
 'Construcao Ferramentas Seguranca',
 'Cool Stuff',
 'Dvds Blu Ray',
 'Eletrodomesticos',
 'Eletrodomesticos 2',
 'Eletronicos',
 'Eletroportateis',
 'Esporte Lazer',
 'Fashion Bolsas E Acessorios',
 'Fashion Calcados',
 'Fashion Esporte',
 'Fashion Roupa Feminina',
 'Fashion Roupa Infanto Juvenil',
 'Fashion Roupa Masculina',
 'Fashion Underwear E Moda Praia',
 'Ferramentas Jardim',
 'Flores',
 'Fraldas Higiene',
 'Industria Comercio E Negocios',
 'Informatica Acessorios',
 'Instrumentos Musicais',
 'La Cuisine',
 'Livros Importados',
 'Livros Interesse Geral',
 'Livros Tecnicos',
 'Malas Acessorios',
 'Market Place',
 'Moveis Colchao E Estofado',
 'Moveis Cozinha Area De Servico Jantar E Jardim',
 'Moveis Decoracao',
 'Moveis Escritorio',
 'Moveis Quarto',
 'Moveis Sala',
 'Musica',
 'Papelaria',
 'Pc Gamer',
 'Pcs',
 'Perfumaria',
 'Pet Shop',
 'Portateis Casa Forno E Cafe',
 'Portateis Cozinha E Preparadores De Alimentos',
 'Relogios Presentes',
 'Seguros E Servicos',
 'Sem Categoria',
 'Sinalizacao E Seguranca',
 'Tablets Impressao Imagem',
 'Telefonia',
 'Telefonia Fixa',
 'Utilidades Domesticas']

In [32]:
manual_corrections = {
    'Agro Industria E Comercio': 'Agro Indstria e Comrcio',
    'Artes E Artesanato': 'Artes e Artesanato',
    'Artigos De Festas': 'Artigos de Festas',
    'Artigos De Natal': 'Artigos de Natal',
    'Beleza Saude':'Beleza e Saude',
    'Cama Mesa Banho': 'Cama Mesa e Banho',
    'Casa Conforto': 'Casa e Conforto',
    'Casa Conforto 2': 'Casa e Conforto',
    'Casa Construcao': 'Casa e Construo',
    'Cds Dvds Musicais': 'Cds Dvds e Musicais',
    'Cine Foto': 'Cine e Foto',
    'Climatizacao': 'Climatizao',
    'Consoles Games': 'Consoles e Games',
    'Construcao Ferramentas Construcao': 'Artigos de Construo',
    'Construcao Ferramentas Ferramentas': 'Artigos de Construo',
    'Construcao Ferramentas Iluminacao': 'Artigos de Construo',
    'Construcao Ferramentas Jardim': 'Artigos de Construo',
    'Construcao Ferramentas Seguranca': 'Artigos de Construo',
    'Dvds Blu Ray': 'Dvds/Blu-Ray',
    'Eletrodomesticos': 'Eletrodomsticos',
    'Eletrodomesticos 2': 'Eletrodomsticos',
    'Eletronicos': 'Eletrnicos',
    'Eletroportateis': 'Eletroportteis',
    'Esporte Lazer': 'Esporte e Lazer',
    'Fashion Bolsas E Acessorios': 'Bolsas e Acessrios',
    'Fashion Calcados':'Calados',
    'Fashion Esporte': 'Moda Esportiva',
    'Fashion Roupa Feminina': 'Roupa Feminina',
    'Fashion Roupa Infanto Juvenil': 'Infanto Juvenil',
    'Fashion Roupa Masculina': 'Roupa Masculina',
    'Fashion Underwear E Moda Praia': 'Underwear e Moda Praia',
    'Ferramentas Jardim': 'Ferramentas de Jardinagem',
    'Fraldas Higiene': 'Fraldas e Higiene',
    'Industria Comercio E Negocios': 'Indstria Comrcio e Negcios',
    'Informatica Acessorios': 'Acessrios de Informtica',
    'Livros Importados': 'Livros',
    'Livros Interesse Geral': 'Livros',
    'Livros Tecnicos': 'Livros',
    'Malas Acessorios': 'Malas e Acessrios',
    'Moveis Colchao E Estofado': 'Mveis',
    'Moveis Cozinha Area De Servico Jantar E Jardim': 'Mveis',
    'Moveis Decoracao': 'Mveis',
    'Moveis Escritorio': 'Mveis',
    'Moveis Quarto': 'Mveis',
    'Moveis Sala': 'Mveis',
    'Musica': 'Msica',
    'Portateis Casa Forno E Cafe': 'Casa Forno e Caf',
    'Portateis Cozinha E Preparadores De Alimentos': 'Cozinha e Preparadores de Alimentos',
    'Relogios Presentes': 'Relgios e Presentes',
    'Seguros E Servicos':'Seguros e Servios',
    'Sinalizacao E Seguranca': 'Sinalizao e Segurana',
    'Tablets Impressao Imagem': 'Tablets Impresso e Imagem',
    'Utilidades Domesticas': 'Utilidades Domsticas'
}
df_products['product_category_name'] = df_products['product_category_name'].replace(manual_corrections)

### Dataframe: Orders

In [33]:
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  99441 non-null  object
 1   customer_id               99441 non-null  object
 2   order_status              99441 non-null  object
 3   order_purchase_timestamp  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 3.0+ MB

### Dataframe: Order_items and Order_Payments

In [34]:
df_order_items.info() #ok
df_order_payments.info() #ok

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   order_item_id  112650 non-null  int64
 2   product_id     112650 non-null  object
 3   seller_id      112650 non-null  object
 4   price          112650 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_value  103886 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

### Dataframe: Customer and Sellers

In [35]:
df_customers.info()
df_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

- Cities in df_customers and df_sellers has some strange entries
- Using a dataset of Brazilian ZIP codes to normalize both dataframes.

In [42]:
def buscar_local_por_cep(cep, cdf):
    cdf_temp = cdf.copy()
    cdf_temp['CEP Inicial'] = (cdf_temp['CEP Inicial'] // 1000).astype(int)
    cdf_temp['CEP Final'] = (cdf_temp['CEP Final'] // 1000).astype(int)
    
    row = cdf_temp[(cdf_temp['CEP Inicial'] <= cep) & (cdf_temp['CEP Final'] >= cep)]

    if not row.empty:
        local = row.iloc[0]['Localidade']
        estado = row.iloc[0]['Estado']  # ou 'estado', se j estiver nome completo
        return pd.Series({'cidade_corrigida': local, 'estado_corrigido': estado})
    else:
        return pd.Series({'cidade_corrigida': None, 'estado_corrigido': None}) 
    

df_customers[['cidade_corrigida', 'estado_corrigido']] = (
    df_customers['customer_zip_code_prefix'].apply(lambda cep: buscar_local_por_cep(cep, cdf_ceps))
)

df_sellers[['cidade_corrigida', 'estado_corrigido']] = (
    df_sellers['seller_zip_code_prefix'].apply(lambda cep: buscar_local_por_cep(cep, cdf_ceps))
)



df_customers[df_customers['cidade_corrigida'].isna()]
df_customers[df_customers['estado_corrigido'].isna()]
df_sellers[df_sellers['cidade_corrigida'].isna()]
df_sellers[df_sellers['estado_corrigido'].isna()]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state, cidade_corrigida, estado_corrigido]
Index: []

> Running a function to check for the CEP and return the city and state

In [43]:
df_customers[df_customers['estado_corrigido'].isna()]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,cidade_corrigida,estado_corrigido
2262,fe196aba95e52d084e7bb60dbd8a23f1,93b4c8bdafa9877757c77b519415d274,89130,indaial,SC,None,None
5525,81eaa0c0dfb54f5f9d7d11734f162e65,b0369cc51e0e1618a76c7174132b93cc,89130,indaial,SC,None,None
5648,a059473225838f7005cf82e2f6b9a18d,1df28da6a384e9822da017c6d44b0656,89130,indaial,SC,None,None
11226,4560c6d8bfdd3e61555dca85d900e1e6,ad054a269e8691d8e2727d1611f3950e,89130,indaial,SC,None,None
16766,110d797e5a5055538df046c2cad8f3d4,1a4d4db5393b394803df246ca68872b4,98900,santa rosa,RS,None,None
30064,988126b4ddf725d9724e4318872ea2ae,507dc9becd4fc65635d90682dfa9d3a3,98900,santa rosa,RS,None,None
33614,7775deebb59b9257b62fd7f3117efa10,26d23e38ed702dc7a476dbb107192848,89130,indaial,SC,None,None
44046,6536b7e35e2598371da42ea384a43ddb,760aa83faf9321a80f455369d7339a0a,89130,indaial,SC,None,None
60564,ff69fe294d9da2e683dede2ddb70b6ae,cd6ff01588442a00ebf2e3829d88e819,98900,santa rosa,RS,None,None
69067,12217655416d9edb5594c7dc6597b85f,215d7119ee04ba8fdd85407e222b90da,89130,indaial,SC,None,None
69690,39d1b3f6e70944054f15906756f6f6c9,1deeb2af44be649d0a8d3660bc7afb8b,89130,indaial,SC,None,None
74340,d52d50587f75df7c5afbe0c57ed48029,9a39c1a793a148452f4d0fd8b85a1c20,89130,indaial,SC,None,None
76073,ed0271e0b7da060a393796590e7b737a,36edbb3fb164b1f16485364b6fb04c73,98900,santa rosa,RS,None,None
79234,dc41e3678d28d18486999a07be51317c,9ef475e8950b598deac6cfba29768fd3,89130,indaial,SC,None,None
80696,59077d5c620a379906c1130b4cb666ae,4a0e1963153df245b88a3efdc56afe97,89130,indaial,SC,None,None
81927,7745cf61130162f1639e8aca053a5655,da8a30f096998be524bb7762f34ae7ec,98900,santa rosa,RS,None,None
82830,a13f6cf0d876947e0559f572d69e59f9,5e2a5e8ba51f24c1e13f99720473fa0d,98900,santa rosa,RS,None,None
83387,f0063eff5de6c74e859ef5b403316c53,a49e0376009f52b244fc67052627ad6f,89130,indaial,SC,None,None
85426,e97a9968c444502cfce41e23725952e5,0036a074f98b80c4f1fc33dbbcf9c552,98900,santa rosa,RS,None,None
88132,ff92e1be6dc1bad3695547e321d2003b,3a3bf14f1678d2dbfb886a2dc94331d2,89130,indaial,SC,None,None
89402,77a385ed7574f6d6da77902de5abbe18,2c693e71cc2c3b66b36ecf55c7668f49,98900,santa rosa,RS,None,None
96106,12dca0bf14588cc10f18a9f9abaef604,6259b1f4da26c67879164ebce6333481,98900,santa rosa,RS,None,None
99026,995ff88564ad4b448082f8b9e7d9af68,6d7a18f90abb894e378a51500101ea1a,89130,indaial,SC,None,None

In [44]:
df_sellers[df_sellers['cidade_corrigida'].isna()]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state, cidade_corrigida, estado_corrigido]
Index: []

> Df sellers got all correct, but some missing values on df_customers

In [ ]:
#df_customers[df_customers['estado_corrigido'].isna()]
df_customers.loc[(df_customers['customer_city'] == 'indaial') & (df_customers['cidade_corrigida'].isna()), 'cidade_corrigida'] = "Indaial"
df_customers.loc[(df_customers['customer_city'] == 'indaial') & (df_customers['estado_corrigido'].isna()), 'estado_corrigido'] = "Santa Catarina"
df_customers.loc[(df_customers['customer_city'] == 'santa rosa') & (df_customers['cidade_corrigida'].isna()), 'cidade_corrigida'] = "Santa Rosa"
df_customers.loc[(df_customers['customer_city'] == 'santa rosa') & (df_customers['estado_corrigido'].isna()), 'estado_corrigido'] = "Rio Grande do Sul"

> Manually inserting the right values.

In [ ]:

df_customers[df_customers['estado_corrigido'].isna()]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, cidade_corrigida, estado_corrigido]
Index: []

- Saving cleaned data

In [59]:
df_customers.to_csv("../data/cleaned/df_customers.csv", index=False)
df_order_items.to_csv("../data/cleaned/df_order_items.csv", index=False)
df_order_payments.to_csv("../data/cleaned/df_order_payments.csv", index=False)
df_orders.to_csv("../data/cleaned/df_orders.csv", index=False)
df_products.to_csv("../data/cleaned/df_products.csv", index=False)
df_sellers.to_csv("../data/cleaned/df_sellers.csv", index=False)

## Derived Data

In [ ]:
pro_df_sales =

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  99441 non-null  object
 1   customer_id               99441 non-null  object
 2   order_status              99441 non-null  object
 3   order_purchase_timestamp  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 3.0+ MB

# OLD

## Derived Data

- Creating dataframes dfp_order_full by:
> - Grouping all purchased items by its orders id and summing the prices.
> - Merging df_order with its respectives values spent

In [ ]:
df_order_items_grouped = df_order_items.groupby('order_id')['price'].sum().reset_index()
df_order_items_grouped.rename(columns={'price': 'total_order_value'}, inplace=True)

dfp_orders_full = df_orders.merge(df_order_items_grouped, on='order_id')
dfp_orders_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  98666 non-null  object
 1   customer_id               98666 non-null  object
 2   order_status              98666 non-null  object
 3   order_purchase_timestamp  98666 non-null  datetime64[ns]
 4   total_order_value         98666 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.8+ MB

- Creating a column to day, month and year to investigate the seasonality purchase behavior

In [ ]:
dfp_orders_full['order_month'] = dfp_orders_full['order_purchase_timestamp'].dt.month
dfp_orders_full['order_day'] = dfp_orders_full['order_purchase_timestamp'].dt.day
dfp_orders_full['order_year'] = dfp_orders_full['order_purchase_timestamp'].dt.year
dfp_orders_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  98666 non-null  object
 1   customer_id               98666 non-null  object
 2   order_status              98666 non-null  object
 3   order_purchase_timestamp  98666 non-null  datetime64[ns]
 4   total_order_value         98666 non-null  float64
 5   order_month               98666 non-null  int32
 6   order_day                 98666 non-null  int32
 7   order_year                98666 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), object(3)
memory usage: 4.9+ MB

- Merging the the customer dataframe in order to identify each buy with their unique id

In [ ]:
dfp_orders_full = dfp_orders_full.merge(
    df_customers[['customer_id','customer_unique_id']],
    on='customer_id',
    how='left'
)
dfp_orders_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  98666 non-null  object
 1   customer_id               98666 non-null  object
 2   order_status              98666 non-null  object
 3   order_purchase_timestamp  98666 non-null  datetime64[ns]
 4   total_order_value         98666 non-null  float64
 5   order_month               98666 non-null  int32
 6   order_day                 98666 non-null  int32
 7   order_year                98666 non-null  int32
 8   customer_unique_id        98666 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(3), object(4)
memory usage: 5.6+ MB

- Filtering the orders by just the delivered ones

In [220]:
dfp_orders_full = dfp_orders_full.loc[dfp_orders_full['order_status'] == 'delivered']

- Creating the processed dataframe with the client tickets

In [221]:
dfp_client_ticket = dfp_orders_full.groupby('customer_unique_id')['total_order_value'].agg(['sum','mean','count']).reset_index()
dfp_client_ticket.rename(columns={'sum':'total_spent','mean':'avg_ticket','count':'order_count'}, inplace=True)

- Creating the processed dataframe with category sales

In [222]:
dfp_category_sales = df_order_items.merge(df_products[['product_id','product_category_name']], on='product_id')
dfp_category_sales = dfp_category_sales.groupby('product_category_name')['price'].agg(['sum','count']).reset_index()
dfp_category_sales.rename(columns={'sum':'total_sales','count':'units_sold'}, inplace=True)

In [ ]:
dfp_orders_full = dfp_orders_full.merge(df_customers[['customer_id','customer_state','customer_city']], on='customer_id')
dfp_orders_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96478 entries, 0 to 96477
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  96478 non-null  object
 1   customer_id               96478 non-null  object
 2   order_status              96478 non-null  object
 3   order_purchase_timestamp  96478 non-null  datetime64[ns]
 4   total_order_value         96478 non-null  float64
 5   order_month               96478 non-null  int32
 6   order_day                 96478 non-null  int32
 7   order_year                96478 non-null  int32
 8   customer_unique_id        96478 non-null  object
 9   customer_state            96478 non-null  object
 10  customer_city             96478 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(3), object(6)
memory usage: 7.0+ MB

- Generating dataframes with sales per city and per states

In [225]:
dfp_state_sales = dfp_orders_full.groupby('customer_state')['total_order_value'].sum().reset_index()
dfp_city_sales = dfp_orders_full.groupby('customer_city')['total_order_value'].sum().reset_index()

- Generating the dataframe that maps the customer quantity per city and states

In [227]:
dfp_clients_per_state = df_customers.groupby('customer_state')['customer_unique_id'].nunique().reset_index()
dfp_clients_per_state.rename(columns={'customer_unique_id':'num_clients'}, inplace=True)


dfp_clients_per_city = df_customers.groupby('customer_city')['customer_unique_id'].nunique().reset_index()
dfp_clients_per_city.rename(columns={'customer_unique_id':'num_clients'}, inplace=True)

In [230]:
dfp_seller_revenue = df_order_items.groupby('seller_id')['price'].sum().reset_index()
dfp_seller_revenue.rename(columns={'price':'revenue_per_seller'}, inplace=True)

dfp_seller_revenue = dfp_seller_revenue.merge(
    df_sellers[['seller_id','seller_city','seller_state']],
    on='seller_id',
    how='left'
)

dfp_seller_revenue = dfp_seller_revenue.sort_values(by='revenue_per_seller', ascending=False)

## Export

- Checking for nulls on processed data frames

In [242]:
dfp_category_sales.isnull().sum()
dfp_city_sales.isnull().sum()
dfp_state_sales.isnull().sum()
dfp_client_ticket.isnull().sum()
dfp_clients_per_city.isnull().sum()
dfp_clients_per_state.isnull().sum()
dfp_orders_full.isnull().sum()
dfp_seller_revenue.isnull().sum()

seller_id             0
revenue_per_seller    0
seller_city           0
seller_state          0
dtype: int64

In [244]:
dfp_category_sales.to_csv("../data/processed/category_sales.csv", index=False)
dfp_city_sales.to_csv("../data/processed/city_sales.csv", index=False)
dfp_state_sales.to_csv("../data/processed/state_sales.csv", index=False)
dfp_client_ticket.to_csv("../data/processed/client_ticket.csv", index=False)
dfp_clients_per_city.to_csv("../data/processed/customer_per_city.csv", index=False)
dfp_clients_per_state.to_csv("../data/processed/customer_per_state.csv", index=False)
dfp_orders_full.to_csv("../data/processed/orders.csv", index=False)
dfp_seller_revenue.to_csv("../data/processed/seller_revenue.csv", index=False)